// dash.html redirects here
<html>


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>
<ion-view view-title="ICS - Cancer Screening and Patient Registration System">
<br>
<br>
  <ion-nav-view >
<ion-list>

    <ion-item menu-close ng-click="login()">
      <span class="glyphicon glyphicon-user"> Volunteer Login</span>
    </ion-item>
    <ion-item menu-close ng-click="login()">
       <span class="glyphicon glyphicon-user"> ICS Admin Login</span>
    </ion-item>
</ion-list>
  </ion-nav-view>
</ion-view>
</body>
</html>
